header {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: rgb(81, 81, 81);
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2,
h1 {
  color: #f0f0f0;
}

header a {
  text-decoration: none;
}

.account-container {
  display: flex;
  background-color: rgb(81, 81, 81);
  height: 100%;
}

.profile-container {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin-left: 30px;
}

.profile-container img {
  height: 100%;
  background-color: rgb(81, 81, 81);
  margin-right: 10px;
}

.notifications-img {
  transition: transform 0.1s ease-in-out;
}

.notifications-img:hover {
  animation: jiggle 0.2s infinite alternate;
}

@keyframes jiggle {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
