/* Modals */
.login__page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100vw;
  padding: 10px 15px;
  background-color: rgb(81, 81, 81);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
    height: 100%;
  }

.header h1 {
  color: #f0f0f0;
  font-size: large;
  margin: 0;
  margin-left: 10px;
}

.login__form_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login__form {
  padding: 15px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px gray;
  width: 90%;
  max-width: 400px;
}

.login__form_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.login__form_header h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

#modal__addEdit {
  width: 90%;
}

.login__form_inputs_container {
  padding: 10px;
}

.login__form_input_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8px 0;
  flex-direction: column;
  gap: 5px;
}

.login__form_input_container label {
  width: 100%;
  text-align: left;
}

.login__form_input_container input,
.login__form_input_container select {
  width: 100%;
  height: 24px;
  border: 1px solid #0f0f0f;
  border-radius: 2px;
}

.login__form_buttons {
  margin-top: 15px;
  text-align: right;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.button_text {
  padding: 5px 10px;
  font-size: 14px;
}

/* Small screens (576px and up) */
@media (min-width: 576px) {
  #login__form {
    width: 80%;
  }

  .header {
    padding: 10px 20px;
  }

  .header h1 {
    font-size: x-large;
  }

  .header h2 {
    font-size: large;
    display: block;
  }
}

/* Medium screens (768px and up) */
@media (min-width: 768px) {
  #login__form {
    width: 60%;
  }

  .header {
    padding: 10px 30px;
  }
}

/* Large screens (992px and up) */
@media (min-width: 992px) {
  #login__form {
    width: 50%;
  }
}

/* Largest screens (1200px and up) */
@media (min-width: 1200px) {
  #login__form {
    width: 30%;
    max-width: 500px;
  }
}
