.main__container {
  display: flex;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.page__main_heading {
  margin-bottom: 16px;
  font-size: x-large;
}

.main__chatrooms_container {
  height: 80vh;
  width: 100%;
}

.but_chat_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#chatrooms__delete {
  display: none;
}

#chatrooms__delete.active {
  display: block;
}
.chatrooms__select {
  background-color: #f0f0f0;
  padding: 10px;
  list-style: none;
  position: fixed;
  top: 50px;
  left: -250px;
  width: 250px;
  height: calc(100% - 50px);
  transition: left 0.3s ease-in-out;
  z-index: 99;
}

#chatrooms__select_list {
  list-style: none;
  padding: 0;
}

.chatrooms__select.active {
  left: 0;
}

.chatrooms__select_newButton_container {
  width: 100%;
}

#chatrooms__select_newButton {
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: rgb(81, 81, 81);
  border-radius: 5px;
  color: #f0f0f0;
}

.chatrooms__select_newButton:hover {
  opacity: 0.7;
}

.chatroom__item {
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.chatroom__item:hover {
  opacity: 0.7;
}

.user__chatroom {
  background-color: #d0d0d0;
}

.chatroom__status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
}

.chatroom__status.online {
  background-color: green;
}

.chatroom__status.offline {
  background-color: gray;
}

.chatrooms__chatroom {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  height: 100%;
}

#chat__container {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.chatrooms__clasroom_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.chatrooms__clasroom_header h3 {
  margin: 0;
}

#chatrooms__add_new {
  display: none;
}

#chatrooms__add_new.active {
  display: block;
}

#chat__messages_container {
  display: flex;
  padding: 12px 16px;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.chat__msg_container {
  display: inline-block;
  width: fit-content;
  min-width: 100px;
  max-width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.667);
  border-radius: 5px;
  margin-top: 8px;
  background-color: #ccc;
}

.chat__msg_container > p {
  margin: 4px 8px;
  display: inline-block;
  width: fit-content;
  text-wrap: wrap pretty;
  overflow-wrap: break-word;
  word-break: break-word;
}

.chat__senderMsg_container {
  align-self: flex-end;
  text-align: end;
  background-color: #c4e1ff;
}

.chat__receiverMsg_container {
  align-self: flex-start;
  text-align: start;
  background-color: #eaeaea;
}

#chat__messageInput_container {
  display: none;
  height: 36px;
  justify-content: space-between;
  gap: 12px;
}

#chat__messageInput_container.active {
  display: flex;
}

#chat__messageInput_container > input {
  flex: 1;
  text-wrap: wrap pretty;
  overflow-wrap: break-word;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  padding: 5px;
}

#chat__sendButton {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: rgb(81, 81, 81);
  color: #f0f0f0;
}

#chat__sendButton:hover {
  opacity: 0.7;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px gray;
  z-index: 1001;
  width: 90%;
  max-width: 400px;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-container.active {
  display: block;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal__header h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.modal__create_chat_inputs_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px 0;
  flex-direction: column;
  gap: 5px;
}

.modal__create_chat_inputs_container label {
  width: 100%;
  text-align: left;
}

.modal__create_chat_inputs_container select {
  width: 100%;
  height: 100px;
  border: 1px solid #0f0f0f;
  border-radius: 2px;
}

.modal__create_chat_inputs_container input {
  width: 100%;
  border: 1px solid #0f0f0f;
  border-radius: 2px;
}

.modal__buttons {
  margin-top: 15px;
  text-align: right;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.button_text {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: rgb(81, 81, 81);
  border-radius: 5px;
  color: #f0f0f0;
}

.button_text:hover {
  opacity: 0.7;
}

.chatrooms__hamburger {
  display: block;
  padding: 5px 7px 1px 7px;
}

@media (min-width: 576px) {
  .main__container {
    margin-left: 15px;
    width: calc(100% - 30px);
  }

  .modal {
    padding: 20px;
    width: 80%;
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .main__container {
    margin-left: 20px;
    width: calc(100% - 40px);
  }

  .modal {
    width: 60%;
    max-width: 600px;
  }

  .chatrooms__select {
    position: static;
    width: auto;
    height: auto;
    background: #f0f0f0;
    transition: none;
  }

  .chatrooms__hamburger {
    display: none;
  }

  .main__chatrooms_container {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(0, 1fr);
  }
}

@media (min-width: 992px) {
  .modal {
    width: 40%;
    max-width: 700px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 30%;
    max-width: 800px;
  }

  .main__container {
    width: 95%;
  }
}
